<md-card class="page-card">
  <md-card-header>
    <md-card-title>
      <h1>
        Tickets
        <md-chip>{{ (ticketService.ticketList$ | async)?.length || 0 }}</md-chip>
      </h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <ng-container *ngIf="(ticketService.ticketList$ | async)?.length; else none">
      <div *ngFor="let t of ticketService.ticketList$ | async">
        <span>{{ t.title }}</span>
        <span>{{ t.description }}</span>
        <span *ngIf="isScrumMasterPresent" class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="badge">{{ t.votes?.length || 0 }}</span>
      </div>
    </ng-container>
    <ng-template #none>
      There are no tickets.. Yet?
    </ng-template>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" *ngIf="isScrumMaster" (click)="navService.navigate('/create-ticket')">Create Ticket</button>
  </md-card-actions>
</md-card>
