<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- TODO update this to have the KLA logo or a logo for KLA Scrum Poker (does Cody Hinze have time to make something quick?) -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngIf="userAuthenticated"><a routerLink="tickets">Tickets</a></li>
        <li *ngIf="!userAuthenticated"><a routerLink="login">Login</a></li>
        <li *ngIf="userAuthenticated"><a (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
