<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngFor="let p of pages">
        <button menuClose ion-item *ngIf="p.authState === null || p.authState === authService.isAuthenticated()" (click)="openPage(p)">
          {{p.title}}
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" enable-menu-with-back-views="true"></ion-nav>
</ion-content>

