\.idea/

# dependencies
**/node_modules

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

mobile/sourcemaps/
mobile/sass-cache/
mobile/tmp/
mobile/versions/
mobile/coverage/
mobile/temp/
mobile/hooks/
mobile/platforms/
mobile/plugins/
mobile/plugins/android.json
mobile/plugins/ios.json
mobile/www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp
**/out-tsc


# misc
web/.sass-cache
web/connect.lock
web/coverage
web/libpeerconnection.log
web/npm-debug.log
web/testem.log
web/typings
web/yarn-error.log

# e2e
web/e2e/*.js
web/e2e/*.map

# System Files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Configs
**/.firebaserc
shared/configs/*.ts

mobile/package-lock\.json
