<md-card class="page-card">
  <md-card-header>
    <md-card-title>
      <h1>HELLO!</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <h3>... from KLA Scrum Poker!</h3>
    <p>
      Our goal is to provide a functional tool using <strong><i>exciting</i></strong> technologies like <strong><i>Firebase</i></strong> and <strong><i>Angular</i></strong>.
    </p>
    <p>
      Let's go see tickets!
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="accent" (click)="navService.navigate('tickets')">Tickets</button>
  </md-card-actions>
</md-card>
